@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Sour Gummy', cursive;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* 

LANDING

*/

#landing


/* 

NAVIGATION 

*/

.nav__container

.nav__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__title {
    font-size: 42px;
}

.nav__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;

}

.nav__link {
}

.nav__link--primary

/* 

HEADER 

*/

.profile__img--wrapper {
    width: 200px;
    height: 200px;
}

.profile__img {
    width: 200px;
    height: 200px;
    border: 5px solid #b6b6b6;
    border-radius: 10%;
}